<section class="container mt-5 col-md-11">
    <div class="form-wrap">
        <div class="jumbotron">
            <h1 class="display-3">Hola, {{primo}}</h1>
            <p class="lead">Vamos a realizar el sorteo para el convivio del 29 de Noviembre.</p>
            <hr class="my-4">
            <p>Al dar click al bot칩n "Sorteo" aparecer치 un nombre elegido al azar</p><!--, s칩lo hay 3 intentos</p>-->

            {{#if sort}}
            <!--<p class="lead">
                <button class="btn btn-primary btn-lg" onclick="move()" role="button">Repetirlo</button>
            </p>-->
            {{else}}
            <p class="lead">
                <button class="btn btn-primary btn-lg" onclick="move()" role="button">Sorteo</button>
            </p>
            {{/if}}
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="{{progreso}}"
                    aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" id="progreso"></div>
            </div>
        </div>

        <input type="hidden" value={{pertenece}} id="primoPerten">
        <input type="hidden" value={{pr1}} id="cou">
        <input type="hidden" value={{vecc}} id="vec">
        <input type="hidden" value={{pr2}} id="to">
        {{#if sort}}
        <div class="card">
            <div class="card-body">
                <div>
                    <h3>Te toc칩: </h3><h1 class="text-primary">{{primo2}}</h1>
                </div>
                <div class="text-center">
                    <button class="btn btn-outline-success" onclick="aceptacion()" role="button">Continuar</button>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</section>